<div class="wrapper valign-wrapper landing">
  <div class="valign">
    <h1>Kode Karma</h1>
    <%= link_to "Sign In", new_user_session_path, class: "waves-effect btn-large orange darken-2" %>
    <%= link_to "Sign Up", sign_up_path, class: "waves-effect btn-large orange darken-2" %>
  </div>
</div>
