
  <div class="wrapper valign-wrapper landing">
    <div class="valign">
      <div class="container">
      <h4>Kode Karma connects coders, designers, SEM, and SEO specialists with non-profit organizations in need of digital services.</h1>
     <!--  <div class="row">
        <blockquote>"Be the change that you wish to see in the world."</blockquote>
        <p>-Gandhi</p>
      </div> -->
      <%= link_to "Contributor", new_contributor_path, class: "waves-effect btn-large deep-orange accent-3" %>
      <%= link_to "Organization", new_organization_path, class: "waves-effect btn-large deep-orange accent-3" %>
    </div>
    </div>
  </div>
