// @import "materialize/components/color";
// $primary-color: color("blue", "lighten-2") !default;
@import 'materialize';
@import "materialize/extras/nouislider";

h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 2em;
}

.valign {
  width: 100vw;
}

.nav-wrapper .container {
  position: relative;

  img {
    float: left;
  }
}

.brand-logo {
  left: 0;

  img {
    width: 26%;
    padding-top: 8%;
    height: auto;
  }
}

#error_explanations {
  color: #e64a19;
  text-align: center;
}

.inner-container {
  width: 80%;
  margin: 0 auto;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #d50000;
  -webkit-box-shadow: 0 1px 0 0 #d50000;
  -moz-box-shadow: 0 1px 0 0 #d50000;
  box-shadow: 0 1px 0 0 #d50000;
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #d50000;
  border-bottom: 2px solid #d50000;
}
