// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post {
  position: relative;
  height: 60vh;
}

.contrib {
  position: absolute;
  top: 1em;
  right: 1em;
}

.fixed-action-btn {
  position: absolute;
  top: 1em;
  right: 1em;
}
