// @import "materialize/components/color";
// $primary-color: color("blue", "lighten-2") !default;
@import 'materialize';
@import "materialize/extras/nouislider";

h1 {
  font-size: 3em;
  margin: 0;
}

.valign {
  width: 100vw;
}

.nav-wrapper .container {
  position: relative;
}

.brand-logo {
  left: 0;

  img {
    width: 26%;
    padding-top: 8%;
    height: auto;
  }
}
