// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  color: #666;
}

h1 {
  color: #666;
}

.section div {
  text-align: left;
}

#error_explanations {
  color: #e64a19;
  text-align: center;
}

.inner-container {
  width: 80%;
  margin: 0 auto;
}

.actions {
  margin-top: 5%;
}
